{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": "airbnb-base",
  "rules": {
    "import/no-unresolved": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off",
    "no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "argsIgnorePattern": "^next$"
      }
    ]
  }
}
